{% extends 'base/base.html' %}

{% block title %}
    Eliminar Facultad
{% endblock %}

{% block header %}
    <h1> Eliminar Facultad </h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h3>¿Desea eliminar el registro de {{ object.Nombre }}</h3>
        <button class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-default" href="{% url 'listar_facultad' %}"><input type="button" value="Cancelar"></a>
    </form>
{% endblock %}