backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.1
csrf==0.1b1
Django==1.11.26
django-bootstrap4==1.0.1
djangorestframework==3.9.4
html5lib==1.0.1
mysqlclient==1.4.4
pdfkit==0.6.1
Pillow==9.0.0
pkg-resources==0.0.0
PyPDF2==1.26.0
pytz==2019.3
reportlab==3.5.32
six==1.13.0
soupsieve==1.9.5
webencodings==0.5.1
xhtml2pdf==0.2.3
